@model Etapa3.Models.Contato

@{
	ViewData["Title"] = "Detalhes do Contato";
}

<body>
	<h1>Detalhes do contato "@Model.Nome"</h1>
	<div>
		<dl class="row">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(x => x.Nome)
			</dt>
			<dt class="col-sm-10">
				@Html.DisplayFor(x => x.Nome)
			</dt>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(x => x.Numero)
			</dt>
			<dt class="col-sm-10">
				@Html.DisplayFor(x => x.Numero)
			</dt>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(x => x.Ativo)
			</dt>
			<dt class="col-sm-10">
				@Html.DisplayFor(x => x.Ativo)
			</dt>
		</dl>
	</div>
	<a asp-action="Editar" asp-route-id="@Model.Id">Editar</a> | 
	<a asp-action="Index">Voltar</a>
</body>